<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- [^, ]+ -->
  <add key="Sample Number" value="9" />
  <add key="Project Number" value="100" />
  <add key="Project Name" value="213" />
  <add key="Client Name" value="458" />
  <add key="Date Recieved" value="660" />
  <add key="Samp. Description" value="858" />
  <add key="Tests Required" value="1033" />
</configuration>