<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- [^, ]+ -->
  <add key="Sample Number" value="9"/>
  <add key="Project Number" value="104"/>
  <add key="Project Name" value="206"/>
  <add key="Client Name" value="384"/>
  <add key="Date Recieved" value="531"/>
  <add key="Samp. Description" value="692"/>
  <add key="Tests Required" value="917"/>
  
</configuration>