<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add key="panel.height" value="60"/>
  <!-- [^, ]+ -->
  <add key="panel.forecolor" value="255, 255, 255"/>
  <add key="log_color.variant1" value="0, 78, 135"/>
  <add key="log_color.variant2" value="25, 25, 25"/>
  <add key="test_color.idle" value="255, 255, 255"/>
  <add key="test_color.started" value="20, 255, 120"/>
  <add key="test_color.finished" value="220, 25, 25"/>
  <add key="pattern.color.parser" value="[0-9]+"/>
  
</configuration>